{
  "openapi": "3.1.0",
  "info": {
    "title": "typesearch · News search API",
    "version": "1.0.0",
    "description": "News search by topic: across an index of news outlets, on a live site, or for articles similar to a given one, judged by a calibrated relevance model. Compatible endpoints for Perplexity (/compat/perplexity), Exa (/compat/exa) and Tako (/compat/tako): see the migration guides at https://typesearch.ai/docs. Pricing, per 1,000 requests: ultra and fast $1.40, normal $2.20, deep $5.60; similar $2.20 ($4.60 in deep mode); live site search $2.40. Contents, per 1,000 pages: $0.20, or $0.40 with a query. Each query in a multi-query request is billed as one search of its mode; cached results and failed requests are free. The same list, machine-readable, is in `x-pricing`."
  },
  "x-pricing": {
    "currency": "USD",
    "per_1000_requests": {
      "ultra": 1.4,
      "fast": 1.4,
      "normal": 2.2,
      "deep": 5.6,
      "similar": 2.2,
      "similar_deep": 4.6,
      "site_search": 2.4
    },
    "per_1000_pages": {
      "contents": 0.2,
      "contents_with_query": 0.4
    }
  },
  "servers": [
    {
      "url": "https://api.typesearch.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    },
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 2,
                "maxLength": 200
              },
              {
                "minItems": 1,
                "maxItems": 5,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 200
                }
              }
            ],
            "description": "One query, or up to 5 judged together."
          },
          "sources": {
            "description": "Only these index sources, by domain, such as example.com. GET /v1/sources?domain=… tells you whether a domain is covered.",
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          "include_domains": {
            "description": "Only these domains or paths. A domain includes its subdomains.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200,
              "pattern": "^(https?:\\/\\/)?(\\*\\.)?[\\w-]+(\\.[\\w-]+)+(\\/\\S*)?$"
            }
          },
          "exclude_domains": {
            "description": "Never these domains or paths.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200,
              "pattern": "^(https?:\\/\\/)?(\\*\\.)?[\\w-]+(\\.[\\w-]+)+(\\/\\S*)?$"
            }
          },
          "sections": {
            "description": "Only these sections: the section in the feed, or the start of the URL path.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            }
          },
          "days": {
            "description": "The last N days; null for the whole index. Defaults to 7 unless dates are given.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 365
              },
              {
                "type": "null"
              }
            ]
          },
          "published_after": {
            "description": "Published on or after this date. A bare date is read in Argentina time (UTC−3).",
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              },
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              }
            ]
          },
          "published_before": {
            "description": "Published on or before this date; a bare date includes that whole day.",
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              },
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              }
            ]
          },
          "mode": {
            "default": "normal",
            "description": "ultra: headlines only · fast: headlines and standfirsts (these two cost the least, the same) · normal: reads the best matches · deep: more headlines, the topic also in other words (synonyms and acronyms), twice the reading, snippets and the essentials of each article, and the search of the sites that cover the topic when the index falls short.",
            "type": "string",
            "enum": [
              "ultra",
              "fast",
              "normal",
              "deep"
            ]
          },
          "max_results": {
            "default": 10,
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "highlights": {
            "description": "Very short verbatim excerpts (up to 25 words, never from the first paragraph) from the articles that were read: one per article, two in deep mode. On by default only in deep mode.",
            "type": "boolean"
          },
          "dedupe": {
            "default": false,
            "description": "Groups the same story reported by several outlets.",
            "type": "boolean"
          },
          "tone": {
            "default": false,
            "description": "Tone toward the query: positive, neutral or negative.",
            "type": "boolean"
          },
          "essential": {
            "description": "The essentials: very short verbatim excerpts across several articles. On by default only in deep mode.",
            "type": "boolean"
          },
          "questions": {
            "default": {},
            "description": "Structured output: typed questions (boolean, choice, score) that the model answers for each result.",
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[\\w-]{1,40}$"
            },
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "boolean"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SearchRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SearchRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "type": "object",
                      "properties": {
                        "true": {
                          "type": "string"
                        },
                        "false": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "choice"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SearchRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SearchRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions",
                    "criteria"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "score"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SearchRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SearchRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "minItems": 2,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions",
                    "criteria"
                  ]
                }
              ]
            }
          },
          "max_tokens": {
            "default": null,
            "description": "Cap on model tokens. If it is reached, the response comes back with incomplete: true.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 2000,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "fresh": {
            "default": false,
            "description": "Skips the result cache (10 minutes).",
            "type": "boolean"
          },
          "temporal": {
            "default": "auto",
            "description": "auto: a date in the query («today», «yesterday», «tomorrow», «on September 22», «this week») is taken out of the topic, sets the publication window (unless published_after/before are given; days only bounds it) and puts the results from that day first · off: the query is taken literally.",
            "type": "string",
            "enum": [
              "auto",
              "off"
            ]
          },
          "timezone": {
            "description": "IANA time zone that decides what day «today» is. Defaults to Argentina (America/Argentina/Buenos_Aires).",
            "type": "string"
          },
          "stream": {
            "default": false,
            "description": "Server-sent events while it searches: step, partial, result.",
            "type": "boolean"
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "SearchRequest___schema0": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchRequest___schema0"
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/SearchRequest___schema0"
            }
          }
        ]
      },
      "SiteSearchRequest": {
        "type": "object",
        "properties": {
          "site": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500,
            "description": "The live site to search, such as example.com."
          },
          "query": {
            "type": "string",
            "minLength": 2,
            "maxLength": 200
          },
          "sections": {
            "description": "Only these sections: the section in the feed, or the start of the URL path.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            }
          },
          "exclude_domains": {
            "description": "Never these domains or paths.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200,
              "pattern": "^(https?:\\/\\/)?(\\*\\.)?[\\w-]+(\\.[\\w-]+)+(\\/\\S*)?$"
            }
          },
          "mode": {
            "default": "normal",
            "description": "ultra: headlines only · fast: headlines and standfirsts (these two cost the least, the same) · normal: reads the best matches · deep: more headlines, the topic also in other words (synonyms and acronyms), twice the reading, snippets and the essentials of each article, and the search of the sites that cover the topic when the index falls short.",
            "type": "string",
            "enum": [
              "ultra",
              "fast",
              "normal",
              "deep"
            ]
          },
          "max_results": {
            "default": 10,
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "highlights": {
            "description": "Very short verbatim excerpts (up to 25 words, never from the first paragraph) from the articles that were read: one per article, two in deep mode. On by default only in deep mode.",
            "type": "boolean"
          },
          "dedupe": {
            "default": false,
            "description": "Groups the same story reported by several outlets.",
            "type": "boolean"
          },
          "tone": {
            "default": false,
            "description": "Tone toward the query: positive, neutral or negative.",
            "type": "boolean"
          },
          "essential": {
            "description": "The essentials: very short verbatim excerpts across several articles. On by default only in deep mode.",
            "type": "boolean"
          },
          "questions": {
            "default": {},
            "description": "Structured output: typed questions (boolean, choice, score) that the model answers for each result.",
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[\\w-]{1,40}$"
            },
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "boolean"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SiteSearchRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SiteSearchRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "type": "object",
                      "properties": {
                        "true": {
                          "type": "string"
                        },
                        "false": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "choice"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SiteSearchRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SiteSearchRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions",
                    "criteria"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "score"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SiteSearchRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SiteSearchRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "minItems": 2,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions",
                    "criteria"
                  ]
                }
              ]
            }
          },
          "max_tokens": {
            "default": null,
            "description": "Cap on model tokens. If it is reached, the response comes back with incomplete: true.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 2000,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "fresh": {
            "default": false,
            "description": "Skips the result cache (10 minutes).",
            "type": "boolean"
          },
          "temporal": {
            "default": "auto",
            "description": "auto: a date in the query («today», «yesterday», «tomorrow», «on September 22», «this week») is taken out of the topic, sets the publication window (unless published_after/before are given; days only bounds it) and puts the results from that day first · off: the query is taken literally.",
            "type": "string",
            "enum": [
              "auto",
              "off"
            ]
          },
          "timezone": {
            "description": "IANA time zone that decides what day «today» is. Defaults to Argentina (America/Argentina/Buenos_Aires).",
            "type": "string"
          },
          "stream": {
            "default": false,
            "description": "Server-sent events instead of an asynchronous job.",
            "type": "boolean"
          }
        },
        "required": [
          "site",
          "query"
        ],
        "additionalProperties": false
      },
      "SiteSearchRequest___schema0": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteSearchRequest___schema0"
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/SiteSearchRequest___schema0"
            }
          }
        ]
      },
      "SimilarRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2000,
            "format": "uri"
          },
          "sources": {
            "description": "Only these index sources, by domain, such as example.com. GET /v1/sources?domain=… tells you whether a domain is covered.",
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          "include_domains": {
            "description": "Only these domains or paths. A domain includes its subdomains.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200,
              "pattern": "^(https?:\\/\\/)?(\\*\\.)?[\\w-]+(\\.[\\w-]+)+(\\/\\S*)?$"
            }
          },
          "exclude_domains": {
            "description": "Never these domains or paths.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200,
              "pattern": "^(https?:\\/\\/)?(\\*\\.)?[\\w-]+(\\.[\\w-]+)+(\\/\\S*)?$"
            }
          },
          "sections": {
            "description": "Only these sections: the section in the feed, or the start of the URL path.",
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            }
          },
          "days": {
            "description": "The last N days; null for the whole index. Defaults to 7 unless dates are given.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 365
              },
              {
                "type": "null"
              }
            ]
          },
          "published_after": {
            "description": "Published on or after this date. A bare date is read in Argentina time (UTC−3).",
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              },
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              }
            ]
          },
          "published_before": {
            "description": "Published on or before this date; a bare date includes that whole day.",
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              },
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              }
            ]
          },
          "mode": {
            "default": "normal",
            "description": "ultra: headlines only · fast: headlines and standfirsts (these two cost the least, the same) · normal: reads the best matches · deep: more headlines, the topic also in other words (synonyms and acronyms), twice the reading, snippets and the essentials of each article, and the search of the sites that cover the topic when the index falls short.",
            "type": "string",
            "enum": [
              "ultra",
              "fast",
              "normal",
              "deep"
            ]
          },
          "max_results": {
            "default": 10,
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "highlights": {
            "description": "Very short verbatim excerpts (up to 25 words, never from the first paragraph) from the articles that were read: one per article, two in deep mode. On by default only in deep mode.",
            "type": "boolean"
          },
          "dedupe": {
            "default": false,
            "description": "Groups the same story reported by several outlets.",
            "type": "boolean"
          },
          "tone": {
            "default": false,
            "description": "Tone toward the query: positive, neutral or negative.",
            "type": "boolean"
          },
          "essential": {
            "description": "The essentials: very short verbatim excerpts across several articles. On by default only in deep mode.",
            "type": "boolean"
          },
          "questions": {
            "default": {},
            "description": "Structured output: typed questions (boolean, choice, score) that the model answers for each result.",
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[\\w-]{1,40}$"
            },
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "boolean"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SimilarRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SimilarRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "type": "object",
                      "properties": {
                        "true": {
                          "type": "string"
                        },
                        "false": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "choice"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SimilarRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SimilarRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions",
                    "criteria"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "score"
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/SimilarRequest___schema0"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SimilarRequest___schema0"
                          }
                        }
                      ]
                    },
                    "criteria": {
                      "minItems": 2,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "instructions",
                    "criteria"
                  ]
                }
              ]
            }
          },
          "max_tokens": {
            "default": null,
            "description": "Cap on model tokens. If it is reached, the response comes back with incomplete: true.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 2000,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "fresh": {
            "default": false,
            "description": "Skips the result cache (10 minutes).",
            "type": "boolean"
          },
          "temporal": {
            "default": "auto",
            "description": "auto: a date in the query («today», «yesterday», «tomorrow», «on September 22», «this week») is taken out of the topic, sets the publication window (unless published_after/before are given; days only bounds it) and puts the results from that day first · off: the query is taken literally.",
            "type": "string",
            "enum": [
              "auto",
              "off"
            ]
          },
          "timezone": {
            "description": "IANA time zone that decides what day «today» is. Defaults to Argentina (America/Argentina/Buenos_Aires).",
            "type": "string"
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "SimilarRequest___schema0": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimilarRequest___schema0"
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/SimilarRequest___schema0"
            }
          }
        ]
      },
      "ContentsRequest": {
        "type": "object",
        "properties": {
          "urls": {
            "minItems": 1,
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2000,
              "format": "uri"
            }
          },
          "query": {
            "description": "With a query, the model picks the excerpt about it and says how much each article covers it.",
            "type": "string",
            "minLength": 2,
            "maxLength": 200
          },
          "highlights": {
            "default": true,
            "type": "boolean"
          },
          "max_tokens": {
            "default": null,
            "description": "Cap on model tokens. If it is reached, the response comes back with incomplete: true.",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 2000,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "urls"
        ],
        "additionalProperties": false
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "search",
              "site_search",
              "similar"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "ultra",
              "fast",
              "normal",
              "deep"
            ]
          },
          "queries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "found": {
            "type": "boolean"
          },
          "total": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "source": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "published_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "section": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "snippet": {
                  "description": "The standfirst or description, as the outlet published it.",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "score": {
                  "type": "number",
                  "description": "Probability that the article is about the query: from reading it if it was read, otherwise from its headline."
                },
                "headline_relevance": {
                  "type": "number"
                },
                "read": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "probability": {
                          "type": "number"
                        },
                        "centrality": {
                          "type": "number",
                          "description": "0 not mentioned · 3 main topic."
                        }
                      },
                      "required": [
                        "probability",
                        "centrality"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "highlights": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "tone": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "enum": [
                            "positive",
                            "neutral",
                            "negative"
                          ]
                        },
                        "probabilities": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "enum": [
                              "positive",
                              "neutral",
                              "negative"
                            ]
                          },
                          "additionalProperties": {
                            "type": "number"
                          },
                          "required": [
                            "positive",
                            "neutral",
                            "negative"
                          ]
                        },
                        "basis": {
                          "type": "string",
                          "enum": [
                            "article",
                            "headline"
                          ]
                        }
                      },
                      "required": [
                        "label",
                        "probabilities",
                        "basis"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "answers": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "basis": {
                          "type": "string",
                          "enum": [
                            "article",
                            "headline"
                          ]
                        },
                        "values": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "boolean"
                                  },
                                  "probability": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type",
                                  "probability"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "choice"
                                  },
                                  "choice": {
                                    "type": "string"
                                  },
                                  "probabilities": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "number"
                                    }
                                  },
                                  "confidence": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type",
                                  "choice"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "score"
                                  },
                                  "score": {
                                    "type": "number"
                                  },
                                  "probabilities": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "number"
                                    }
                                  },
                                  "confidence": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type",
                                  "score"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        }
                      },
                      "required": [
                        "basis",
                        "values"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "duplicates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "source": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "url",
                      "title",
                      "source"
                    ],
                    "additionalProperties": false
                  }
                },
                "date_match": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "exact",
                        "adjacent",
                        "unknown",
                        "outside"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "When the query names a date: whether the article is about that day (exact), the day before or after (adjacent), cannot tell (unknown) or another date (outside). Null otherwise."
                },
                "referenced_date": {
                  "description": "When the query names a date: the day the article is about (YYYY-MM-DD, in the request time zone), from its headline, its publication date or reading it.",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "found_in": {
                  "type": "string",
                  "enum": [
                    "index",
                    "homepage",
                    "section",
                    "site_search",
                    "discovery"
                  ],
                  "description": "Where it was found: the index; a live site (homepage, section, site_search); or discovery, a source beyond the index read at the original site for this request."
                },
                "queries": {
                  "description": "With several queries: which ones this result belongs to.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "url",
                "title",
                "source",
                "published_at",
                "section",
                "snippet",
                "score",
                "headline_relevance",
                "read",
                "highlights",
                "tone",
                "answers",
                "duplicates",
                "date_match",
                "referenced_date",
                "found_in"
              ],
              "additionalProperties": false
            }
          },
          "groups": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "found": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "source": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "published_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "section": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "snippet": {
                            "description": "The standfirst or description, as the outlet published it.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "score": {
                            "type": "number",
                            "description": "Probability that the article is about the query: from reading it if it was read, otherwise from its headline."
                          },
                          "headline_relevance": {
                            "type": "number"
                          },
                          "read": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "probability": {
                                    "type": "number"
                                  },
                                  "centrality": {
                                    "type": "number",
                                    "description": "0 not mentioned · 3 main topic."
                                  }
                                },
                                "required": [
                                  "probability",
                                  "centrality"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tone": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string",
                                    "enum": [
                                      "positive",
                                      "neutral",
                                      "negative"
                                    ]
                                  },
                                  "probabilities": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string",
                                      "enum": [
                                        "positive",
                                        "neutral",
                                        "negative"
                                      ]
                                    },
                                    "additionalProperties": {
                                      "type": "number"
                                    },
                                    "required": [
                                      "positive",
                                      "neutral",
                                      "negative"
                                    ]
                                  },
                                  "basis": {
                                    "type": "string",
                                    "enum": [
                                      "article",
                                      "headline"
                                    ]
                                  }
                                },
                                "required": [
                                  "label",
                                  "probabilities",
                                  "basis"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "answers": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "basis": {
                                    "type": "string",
                                    "enum": [
                                      "article",
                                      "headline"
                                    ]
                                  },
                                  "values": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "boolean"
                                            },
                                            "probability": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "probability"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "choice"
                                            },
                                            "choice": {
                                              "type": "string"
                                            },
                                            "probabilities": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "type": "number"
                                              }
                                            },
                                            "confidence": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "choice"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "score"
                                            },
                                            "score": {
                                              "type": "number"
                                            },
                                            "probabilities": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "type": "number"
                                              }
                                            },
                                            "confidence": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "score"
                                          ],
                                          "additionalProperties": false
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "basis",
                                  "values"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "duplicates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "url",
                                "title",
                                "source"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "date_match": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "exact",
                                  "adjacent",
                                  "unknown",
                                  "outside"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "When the query names a date: whether the article is about that day (exact), the day before or after (adjacent), cannot tell (unknown) or another date (outside). Null otherwise."
                          },
                          "referenced_date": {
                            "description": "When the query names a date: the day the article is about (YYYY-MM-DD, in the request time zone), from its headline, its publication date or reading it.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "found_in": {
                            "type": "string",
                            "enum": [
                              "index",
                              "homepage",
                              "section",
                              "site_search",
                              "discovery"
                            ],
                            "description": "Where it was found: the index; a live site (homepage, section, site_search); or discovery, a source beyond the index read at the original site for this request."
                          },
                          "queries": {
                            "description": "With several queries: which ones this result belongs to.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "url",
                          "title",
                          "source",
                          "published_at",
                          "section",
                          "snippet",
                          "score",
                          "headline_relevance",
                          "read",
                          "highlights",
                          "tone",
                          "answers",
                          "duplicates",
                          "date_match",
                          "referenced_date",
                          "found_in"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "near_misses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "source": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "published_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "section": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "snippet": {
                            "description": "The standfirst or description, as the outlet published it.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "score": {
                            "type": "number",
                            "description": "Probability that the article is about the query: from reading it if it was read, otherwise from its headline."
                          },
                          "headline_relevance": {
                            "type": "number"
                          },
                          "read": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "probability": {
                                    "type": "number"
                                  },
                                  "centrality": {
                                    "type": "number",
                                    "description": "0 not mentioned · 3 main topic."
                                  }
                                },
                                "required": [
                                  "probability",
                                  "centrality"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tone": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string",
                                    "enum": [
                                      "positive",
                                      "neutral",
                                      "negative"
                                    ]
                                  },
                                  "probabilities": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string",
                                      "enum": [
                                        "positive",
                                        "neutral",
                                        "negative"
                                      ]
                                    },
                                    "additionalProperties": {
                                      "type": "number"
                                    },
                                    "required": [
                                      "positive",
                                      "neutral",
                                      "negative"
                                    ]
                                  },
                                  "basis": {
                                    "type": "string",
                                    "enum": [
                                      "article",
                                      "headline"
                                    ]
                                  }
                                },
                                "required": [
                                  "label",
                                  "probabilities",
                                  "basis"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "answers": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "basis": {
                                    "type": "string",
                                    "enum": [
                                      "article",
                                      "headline"
                                    ]
                                  },
                                  "values": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "boolean"
                                            },
                                            "probability": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "probability"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "choice"
                                            },
                                            "choice": {
                                              "type": "string"
                                            },
                                            "probabilities": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "type": "number"
                                              }
                                            },
                                            "confidence": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "choice"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "score"
                                            },
                                            "score": {
                                              "type": "number"
                                            },
                                            "probabilities": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "type": "number"
                                              }
                                            },
                                            "confidence": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "score"
                                          ],
                                          "additionalProperties": false
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "basis",
                                  "values"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "duplicates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "url",
                                "title",
                                "source"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "date_match": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "exact",
                                  "adjacent",
                                  "unknown",
                                  "outside"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "When the query names a date: whether the article is about that day (exact), the day before or after (adjacent), cannot tell (unknown) or another date (outside). Null otherwise."
                          },
                          "referenced_date": {
                            "description": "When the query names a date: the day the article is about (YYYY-MM-DD, in the request time zone), from its headline, its publication date or reading it.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "found_in": {
                            "type": "string",
                            "enum": [
                              "index",
                              "homepage",
                              "section",
                              "site_search",
                              "discovery"
                            ],
                            "description": "Where it was found: the index; a live site (homepage, section, site_search); or discovery, a source beyond the index read at the original site for this request."
                          },
                          "queries": {
                            "description": "With several queries: which ones this result belongs to.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "url",
                          "title",
                          "source",
                          "published_at",
                          "section",
                          "snippet",
                          "score",
                          "headline_relevance",
                          "read",
                          "highlights",
                          "tone",
                          "answers",
                          "duplicates",
                          "date_match",
                          "referenced_date",
                          "found_in"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "rejected": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "source": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "published_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "section": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "snippet": {
                            "description": "The standfirst or description, as the outlet published it.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "score": {
                            "type": "number",
                            "description": "Probability that the article is about the query: from reading it if it was read, otherwise from its headline."
                          },
                          "headline_relevance": {
                            "type": "number"
                          },
                          "read": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "probability": {
                                    "type": "number"
                                  },
                                  "centrality": {
                                    "type": "number",
                                    "description": "0 not mentioned · 3 main topic."
                                  }
                                },
                                "required": [
                                  "probability",
                                  "centrality"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tone": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string",
                                    "enum": [
                                      "positive",
                                      "neutral",
                                      "negative"
                                    ]
                                  },
                                  "probabilities": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string",
                                      "enum": [
                                        "positive",
                                        "neutral",
                                        "negative"
                                      ]
                                    },
                                    "additionalProperties": {
                                      "type": "number"
                                    },
                                    "required": [
                                      "positive",
                                      "neutral",
                                      "negative"
                                    ]
                                  },
                                  "basis": {
                                    "type": "string",
                                    "enum": [
                                      "article",
                                      "headline"
                                    ]
                                  }
                                },
                                "required": [
                                  "label",
                                  "probabilities",
                                  "basis"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "answers": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "basis": {
                                    "type": "string",
                                    "enum": [
                                      "article",
                                      "headline"
                                    ]
                                  },
                                  "values": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "boolean"
                                            },
                                            "probability": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "probability"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "choice"
                                            },
                                            "choice": {
                                              "type": "string"
                                            },
                                            "probabilities": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "type": "number"
                                              }
                                            },
                                            "confidence": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "choice"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "score"
                                            },
                                            "score": {
                                              "type": "number"
                                            },
                                            "probabilities": {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {
                                                "type": "number"
                                              }
                                            },
                                            "confidence": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "score"
                                          ],
                                          "additionalProperties": false
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "basis",
                                  "values"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "duplicates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "url",
                                "title",
                                "source"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "date_match": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "exact",
                                  "adjacent",
                                  "unknown",
                                  "outside"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "When the query names a date: whether the article is about that day (exact), the day before or after (adjacent), cannot tell (unknown) or another date (outside). Null otherwise."
                          },
                          "referenced_date": {
                            "description": "When the query names a date: the day the article is about (YYYY-MM-DD, in the request time zone), from its headline, its publication date or reading it.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "found_in": {
                            "type": "string",
                            "enum": [
                              "index",
                              "homepage",
                              "section",
                              "site_search",
                              "discovery"
                            ],
                            "description": "Where it was found: the index; a live site (homepage, section, site_search); or discovery, a source beyond the index read at the original site for this request."
                          },
                          "queries": {
                            "description": "With several queries: which ones this result belongs to.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "url",
                          "title",
                          "source",
                          "published_at",
                          "section",
                          "snippet",
                          "score",
                          "headline_relevance",
                          "read",
                          "highlights",
                          "tone",
                          "answers",
                          "duplicates",
                          "date_match",
                          "referenced_date",
                          "found_in"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "diffusion": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "by_day": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "day": {
                                    "type": "string"
                                  },
                                  "count": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "day",
                                  "count"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "by_source": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "string"
                                  },
                                  "count": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "first_published_at": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "source",
                                  "count",
                                  "first_published_at"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "first": {
                              "anyOf": [
                                {
[...]
